<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable = no">
    <meta charset="UTF-8">
    <title>Choose Widget</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a href="../views/website/website-list.html" class="navbar-text navbar-link pull-left">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
        </a>
        <a class="navbar-brand pull-left" href="#">
            Choose Widget
        </a>
    </div>
</nav>

<div class="container">
    <ul class="list-group borderless">
        <li class="list-group-item">
            <a href="widget-heading.view.client.html"
               class="bold">
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a href="#"
               class="bold">
                Label
            </a>
        </li>
        <li class="list-group-item">
            <a href="#"
               class="bold">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a href="#"
               class="bold">
                Text Input
            </a>
        </li>
        <li class="list-group-item">
            <a href="#"
               class="bold">
                Link
            </a>
        </li>
        <li class="list-group-item">
            <a href="#"
               class="bold">
                Button
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-image.view.cleint.html"
               class="bold">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-youtube.view.client.html"
               class="bold">
                YouTube
            </a>
        </li>
        <li class="list-group-item">
            <a href="#"
               class="bold">
                Data Table
            </a>
        </li>
        <li class="list-group-item">
            <a href="#"
               class="bold">
                Repeater
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-center pull-right" href="../user/profile.view.client.html">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

</body>
</html>