<!DOCTYPE html>
<html>
<body>

<p>Click the button to add a new element to the array.</p>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>

<script>
    var users = [
        {_id: "123", username: "alice",    password: "alice2",    firstName: "Alice",  lastName: "Wonder", email: "alice@wonderland.com"},
        {_id: "234", username: "bob",      password: "bob",      firstName: "Bob",    lastName: "Marley" , email: "marley@wailers.com" },
        {_id: "345", username: "charly",   password: "charly",   firstName: "Charly", lastName: "Garcia", email: "garcia@cool.com"  },
        {_id: "456", username: "jannunzi", password: "jannunzi", firstName: "Jose",   lastName: "Annunzi", email: "professor@neu.edu" }
    ];
    document.getElementById("demo").innerHTML = users;

    function myFunction() {
        var hey = [{_id: "123", username: "alice",    password: "alice2",    firstName: "Alice",  lastName: "Wonder", email: "alice@wonderland.com"}]
        users.push(hey);
        document.getElementById("demo").innerHTML = users[8];
    }
</script>

</body>
</html>
